version: '3.7'

# This override file should be used when running this service in isolation
# to provide dependencies and expose ports for local testing

services:
  ffc-demo-collector:
    build:
      target: development
    image: ffc-demo-collector
    container_name: ffc-demo-collector
    ports:
      - "9327:9229"
    volumes:
      - ./app/:/home/node/app/
      - ./package.json:/home/node/package.json
      - ./scripts/:/home/node/scripts/
    command: >
      sh -c "
        scripts/wait-for kafka:9093 --
        npm run start:watch"
    depends_on:
      - kafka

  zookeeper:
    tmpfs: "/datalog"
    
  kafka:
    ports:
      - "9094:9094"

  kafdrop:
    image: obsidiandynamics/kafdrop:latest
    ports:
      - 9000:9000
    environment:
      KAFKA_BROKERCONNECT: kafka:9092
    depends_on:
      - kafka

  ffc-demo-collector-postgres:
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}
