version: '3.7'

# This override file should be used when running automated tests so
# that test output is saved to the host

services:
  ffc-demo-collector:
    build:
      target: development
    image: ffc-demo-collector-development
    container_name: ffc-demo-collector-test
    command: >
      sh -c "
        scripts/wait-for kafka:9093 --
        npm run test"
    volumes:
      - ./app/:/home/node/app/
      - ./test/:/home/node/test/
      - ./test-output/:/home/node/test-output/
      - ./jest.config.js:/home/node/jest.config.js
      - ./jest.setup.js:/home/node/jest.setup.js
      - ./package.json:/home/node/package.json
