environment: development
name: ffc-demo-collector
namespace: ffc-demo
workstream: ffc-demo
image: ffc-demo-collector

labels: {}

appInsights:
  key:

azureIdentity:
  clientID: not-a-real-clientID
  resourceID: not-a-real-resourceID

containerConfigMap:
  name: ffc-demo-collector-config-map

containerSecret:
  name: ffc-demo-collector-container-secret
  type: Opaque

deployment:
  restartPolicy: Always
  priorityClassName: low
  replicas: 1
  minReadySeconds: 0
  redeployOnChange: update this field to force a change
  runAsNonRoot: true
  runAsUser: 1000

container:
  imagePullPolicy: IfNotPresent
  requestMemory: 60Mi
  requestCpu: 40m
  limitMemory: 60Mi
  limitCpu: 40m
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  eventHost: kafka
  eventPort: 9093
  eventMechanism: scram-sha-512
  eventClientId: ffc-demo-collector
  eventConsumerGroupId: ffc-demo-collector-claim-update
  claimUpdateTopicName: ffc-demo-collector-claim-update
  claimUpdateTopic: ffc-demo-claim-update
  claimUpdateFromBeginning: true

postgresService:
  postgresDb: ffc_demo_collector
  # postgresExternalName is the external host name to which PostgreSQL
  # requests should be forwarded. If empty, PostgreSQL is assumed to be
  # within the cluster and accessible via postgresHost
  postgresExternalName:
  postgresHost: ffc-demo-collector-postgres
  postgresPort: 5432
  postgresSchema: public
  postgresUser: postgres

aadPodIdentity: true
